.import/
.mono/
.vs/
.vscode/
*.old
imgui.ini
.godot/
*.user
Properties/
build/
build.*/
msvc.*/
*.so
*.dylib
*.framework
*.dll
*.pdb
doc/cpp-demo/MyGame/addons
*.old.*
gdext/vcpkg_installed/
.sconsign.dblite
gdext/x64/
*.exp
*.obj
*.lib
*.os
gdext/proj/addons/imgui-godot-native/include/*.h
gdext/gen/
