.import/
.mono/
.vs/
.vscode/
*.old
imgui.ini
.godot/
*.user
Properties/
build/
build.*/
msvc.*/
*.so
*.dylib
*.framework
*.dll
*.pdb
doc/cpp-demo/MyGame/addons
*.old.*
gdext/vcpkg_installed/
.sconsign.dblite
gdext/x64/
*.exp
*.obj
*.lib
*.os
gdext/proj/addons/imgui-godot-native/include/*.h
gdext/gen/
*.o
*.pyc
gdext/proj/doc/
gdext/proj/modules/
gdext/proj/platform/

addons/imgui-godot-native/
gdext/proj/addons/imgui-godot/
gdext/samples/project/addons/
addons/imgui-godot/imgui-godot-native.gdextension
addons/imgui-godot/include/*.h
scons_cache
doc/**/addons/
