name: Release

on:
  push:
    tags:
      - "v*"

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: ${{ github.ref }}
          draft: true

  docs:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3

      - name: Windows deps
        run: choco install docfx

      # TODO: generate

      # TODO: upload to GitHub Pages
